extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros imagen", class="img-fluid")
            .col-md-7
                h1=pagina

                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit nibh vitae eros scelerisque, sit amet posuere magna ornare. In ullamcorper varius lobortis. Fusce gravida, purus sed aliquet lacinia, lorem ipsum semper dui, vitae cursus elit sapien et arcu. Morbi scelerisque tempus dictum. Suspendisse vitae varius lacus. Sed mi erat, sodales elementum erat in, pellentesque facilisis orci. Integer a sem euismod, convallis arcu non, maximus sapien. Quisque dapibus pulvinar lectus. Etiam justo ipsum, tincidunt ac massa eget, pulvinar congue justo. In eu tellus nibh. Integer pharetra erat non nibh accumsan, a finibus enim interdum.
                p pharetra mauris, eget semper sem. Pellentesque in orci ac ex consequat gravida ac in elit. Duis malesuada velit nec augue volutpat, vel rutrum sem efficitur. Pellentesque id viverra dolor. Quisque mattis euismod ipsum vitae faucibus. Quisque et massa sed felis lacinia hendrerit. Mauris a ante aliquam nunc lacinia hendrerit. Quisque a nibh venenatis, tempus mi eu, aliquam purus. Phasellus ac augue eleifend, ullamcorper enim sit amet, posuere mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam aliquam dui sed libero consequat viverra. Nulla mattis bibendum ligula vel tempor. Pellentesque bibendum accumsan arcu sed iaculis.
                p sed lacus et sem tempus eleifend id congue metus. Aliquam accumsan, risus nec fringilla mattis, augue metus gravida libero, ornare scelerisque felis tellus non augue. Nulla consectetur laoreet quam porttitor suscipit. Curabitur iaculis quam eget urna finibus, sit amet tincidunt arcu dictum. Suspendisse potenti. Nullam eget interdum mi, in ornare lacus. Nullam eget rhoncus eros. Integer ac lobortis mi. Ut quam lectus, egestas ut leo sed, facilisis bibendum lacus. Duis sollicitudin a mi pretium venenatis. Cras non feugiat quam. Aenean aliquet, nisl ut semper laoreet, felis mauris rhoncus est, quis dignissim arcu nunc eu augue. In tristique luctus tellus at mattis. Maecenas vitae lacinia augue. Nunc mollis leo nec dolor fermentum tincidunt.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nobis, consequatur iure, quisquam dignissimos laborum nisi beatae, voluptatum mollitia ipsum error quos voluptas ducimus nesciunt. Molestias debitis ipsa suscipit deleniti.e
            
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Seguridad icono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos  
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nobis, consequatur iure, quisquam dignissimos laborum nisi beatae, voluptatum mollitia ipsum error quos voluptas ducimus nesciunt. Molestias debitis ipsa suscipit deleniti.e

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios icono", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios  
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nobis, consequatur iure, quisquam dignissimos laborum nisi beatae, voluptatum mollitia ipsum error quos voluptas ducimus nesciunt. Molestias debitis ipsa suscipit deleniti.e
                    

